.input {
  width: 100%;
  background-color: transparent;
  color: #000000;
  font-size: inherit;
  font-family: 'Roboto Mono', sans-serif;
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    background-color: #9CC3C0;
    border: 0;
    outline: 0;
  }
}

.invalid {
  outline: 2px solid red;

  &:focus {
    outline: 2px solid red;
  }
}
