.container {
  background-color: #006458;
  padding: 40px 0;
}

.innerContainer {
  width: 700px;
  margin: 0 auto;
  color: #ffffff;
}

.header {
  margin: 0;
  font-size: 60px;
}

.subHeader {
  margin: 0;
  font-size: 28px;
}
