.container {
  position: relative;
  font-size: 36px;
  padding: 20px 40px;
  transition: color 1s cubic-bezier(0.77, 0, 0.175, 1),
              background-color 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.contrast {
  font-size: 18px;
  position: absolute;
  right: 40px;
}
