.container {
  padding: 20px 60px;
  background-color: #795548;
  color: #d7ccc8;
  font-size: 32px;
  line-height: 80px;
}

.colorContainer {
  display: inline-block;
  width: 156px;
  margin: 0 5px;
}

.fontSizeContainer {
  display: inline-block;
  width: 50px;
  margin: 0 5px;
}

.fontWeightContainer {
  margin: 0 10px;
}

.accessibilityLevelContainer {
  margin: 0 10px;
}
