.container {
  background-color: #795548;
  padding: 20px 0;
}

.innerContainer {
  width: 740px;
  margin: 0 auto;
  color: #d7ccc8;
  font-size: 26px;
  line-height: 60px;
}

.colorContainer {
  display: inline-block;
  width: 130px;
}

.fontSizeContainer {
  display: inline-block;
  width: 50px;
}

.fontWeightContainer {
  display: inline-block;
  width: 120px;
}

.accessibilityLevelContainer {
  display: inline-block;
  width: 65px;
}
