.container {
  background-color: #b2dfdb;
  padding: 20px 0;
}

.innerContainer {
  width: 740px;
  margin: 0 auto;
  color: #454545;
  font-size: 26px;
  line-height: 60px;
}

.colorContainer {
  display: inline-block;
  width: 130px;
}

.fontSizeContainer {
  display: inline-block;
  width: 40px;
}
