.button {
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  font-size: inherit;
  font-family: 'Roboto Mono', sans-serif;
  text-align: center;
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    background-color: #5d4037;
    outline: 0;
  }
}
