.container {
  width: 300px;
}

.currentContrast {
  margin-bottom: 10px;
}

.accessibleContrast {
  margin-bottom: 10px;
}

.isAccessible {
  margin-bottom: 20px;
  font-weight: bold;
}

.accessible {
  color: #058a05;
}

.notAccessible {
  color: #ee0000;
}

.text {
  padding: 20px 40px;
  line-height: 1.5;
}
