.container {
  padding: 40px 0;
}

.innerContainer {
  display: flex;
  width: 700px;
  margin: 0 auto;
}

.previewContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 3px;
}

.previewTitle {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: normal;
}

.previewContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
  padding: 20px;
}

.previewContentCopyable {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;

  &:hover {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
  }
}

.previewNewColor {
  margin: 0;
}

.previewContrast {
  margin: 0;
}
